.test-section {
  height: 50vh;
  text-align: center;
  padding-top: 20%;

  .link {
    padding: 12px;
  }

  .link .button {
    cursor: pointer;
    color: black;
    padding: 15px;
  }

  .link .button .anticon {
    color: black;
    padding-right: 8px;
  }
}
